@import '@picocss/pico/css/pico.min.css';

:root {
  --pico-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background: #11111b;
}

main.container {
  padding-block: 2rem;
}

/* layout credit to matthewjamestaylor.com/holy-grail-layout*/
/* grid container */
.holy-grail-grid {
  background: #11111b;
  display: grid;
  grid-template-areas:
    'header'
    'main-content'
    'left-sidebar'
    'right-sidebar'
    'footer';
}

/* general column padding */
.holy-grail-grid > * {
  padding: 1rem;
}

/* assign columns to grid areas */
.holy-grail-grid > .header {
  grid-area: header;
  background: #1e1e2e;
  text-align: center;
}
.column {
  float: left;
  width: 25%;
  top: 25%;
  position: relative;
  text-align: center;
  align-content: center;
}
.topSection {
  float: top;
  text-align: center;
}
.bottomSection {
  float: bottom;
  border-top: 2px #11111b;
}
.leftCell {
  float: left;
  text-align: center;
}
.rightCell {
  float: right;
  text-align: center;
}
.puzzle {
  text-align: center;
  font-size: 30px;
  line-height:0;
}
.cell {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  line-height:0;
}
.sessionMgmt {
  text-align: center;
}
.login {
  width: 50%;
  float: left;
}
.register {
  width: 50%;
  float: right;
}

.loginButton {
  background-color: #a6e3a1;
  color: #1e1e2e;
}

.holy-grail-grid > .main-content {
  grid-area: main-content;
  background: #313244;
}
.holy-grail-grid > .left-sidebar {
  grid-area: left-sidebar;
  background: #181825;
}
.holy-grail-grid > .right-sidebar {
  grid-area: right-sidebar;
  background: #181825;
}
.dates {
  /*I will add leap year support in 2028  */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  float: bottom;
  height: 80%;
}
.navBut {
  color:#11111b;
  background-color: #f2cdcd;
}
.calendar {
  font-size: 10pt;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
}
.nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
.month {
  backGround:#6c7086;
  text-align: center;
  padding:8px;
}
.label {
  color:#11111b;
  background:#cba6f7;
  float: top;
  height: 20%;
  width:100%;
}
.weeks {
  float: bottom;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
}

/* tablet breakpoint */
@media (min-width: 768px) {
  .holy-grail-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'header header'
      'main-content main-content'
      'left-sidebar right-sidebar'
      'footer footer';
  }
}

/* desktop breakpoint */
@media (min-width: 1024px) {
  .holy-grail-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'header header header header'
      'left-sidebar main-content main-content right-sidebar'
      'footer footer footer footer';
  }
}
a {
  color: #89b4fa;
  text-decoration: none;
}
